@charset "UTF-8";
@media TV and(min-width:1200px){
  
}
@media screen and (min-width: 1150px) and (max-width: 1260px) {

}
@media screen and (min-width: 1024px) and (max-width: 1149px) {

}
@media screen and (min-width: 768px) and (max-width: 1023px) {

}
/* tablets */
@media screen and (max-width: 767px) {
    #headerTopLeft {
        width: 26%;
    }
    #headerTopLeft span {
        margin-right: 0;
    }
    #headerCenter {
        text-align: center;
        padding: 19px 0;
        width: 37%;
        display: block;
        float: right;
    }
    #headerTopRight {
        float: none; 
        text-align: center;
    }
    #headerBottom .wrapper {
        padding: 0;
        width: 100%;
    }
    #nav {
        float: right;
        height: 40px;
        
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        z-index: 2;
      }
    #nav h2 {
        display: inline;
        color: #FFF;
        padding-left: 10px;
        font-weight: normal;
    }
    a#respmenu {
        display: block;
        height: 40px;
        line-height: 40px;
        padding: 10px 20px;
        width: auto;
        cursor: pointer;
        color: #FFF;
        background: #505050;
        border-bottom: 10px solid #FFF;
    }
    #nav ul.menu {
        float: none;
    }
    #nav ul{
        overflow: hidden;
        background: #505050;
        height: 0;
    }
    #nav ul.open{
        height: auto;
    }
    #nav ul li {
        float: none;
        text-align: left;
        width: 100%;
        margin: 0;
        z-index: 2;
        position: relative;
    }
    #nav ul li a {
        padding: 20px 20px 10px;
        border-bottom: 2px solid #fff;
        display: block;
    }
    #nav ul li a:link, #nav ul li a:visited {
        border-bottom: 2px solid #fff;
    }
    #nav ul li a:hover {
        border-bottom: 2px solid #e84e1b;
    }
    #nav ul li a:active {
        border-bottom: 2px solid #f39200;
    }
    #aboutme{
        padding: 30px 0;
    }
    #aboutme h2 {
        float: none;
        width: auto;
        margin-top: 0
    }
    .wrapper {
        width: 95%;
        padding: 0 2.5%;
    }
    .imgLeft {
        display: none;
    }
    #quotes {
        width: auto;
    }
    #certificates {
        padding: 0;
    }
    #certificates h2{
        width: auto;
        display: block;
        margin: 40px 0;
    }
    .certificate:nth-of-type(2n) {
        margin-right: 0;
    }
    #PHP, #WD {
        display: block;
        float: left;
        padding: 0 6% 0 0;
        width: 47%;
        margin-bottom: 1%;
    }
    #WD {
        padding: 0;
    }
    #mycert {
        clear: both;
    }
    #skills {
        text-align: center;
    }
    .skill:nth-of-type(2n){
        margin-right: 0;
    }
    #projects a.project:nth-of-type(3n) {
        margin-right: 0;
    }
    #projects {
        text-align: center;
    }
    /* section project for mockup sites */
    section.project_complete {
        display: block;
    }
    .carousel-button {
        top: 150px;
    }
    .project_mockup, .project_desc {
        width: 100%;
    }
    .project_mockup .slides {
        float: none;
    }
    ul.skills {
        position: unset;
    }
    ul.skills li {
        margin-top: 15px;
    }
    article.project_desc p {
        text-align: left;
        margin: 20px;
    }
    article.project_desc p a.button.view_project {
        text-align: center;
        width: -webkit-fill-available;
    }
    #services .services:nth-of-type(2n) {
        margin: 0 0 40px 0;
    }
    #form {
        width: 100%;
    }
    form > .form-control {
        width: 98%;
    }
    form > .form-control > input, form > .form-control > textarea {
        width: 98%;
        margin: 0 2%;
    }
    .form-control i {
        left: 15px;
    }
    .form .btn_submit {
        width: 96%;
        margin: 0 2%;
    }
    #icons {
        width: 100%;
        height: auto;
        float: none;
    }
}
@media screen and (min-width: 451px) and (max-width: 767px) {
    #headerCenter {
        width: 37%;
    }
}
@media screen and (min-width: 354px) and (max-width: 450px) {
    #headerTopLeft,
    #headerCenter{
        width: 50%;
    }
}
/* mobiles */
@media screen and (min-width: 365px) and (max-width: 408px) {
    #projects a.project {
        margin: 0 12% 10% 0;
    }
}
@media screen and (min-width: 354px) and (max-width: 398px) {

}
@media screen and (min-width: 320px) and (max-width: 364px) {
    #projects a.project {
        margin: 0 11% 10% 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 408px) {
    .skill {
        width: 120px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
    #projects a.project {
        width: 41%;
    }
    .form-control i {
        left: 7px;
    }
}
@media screen and (max-width: 408px) {
    h4 {
        margin: 1em 0.7em 1em 0.7em;
        height: auto;
    }
    p {
        margin: 0.3em 0.5em 0.5em;
    }
    #nav ul li a:link, #nav ul li a:visited {
        border-bottom: 1px solid #fff;
    }
    #nav ul li a:hover {
        border-bottom: 1px solid #e84e1b;
    }
    #nav ul li a:active {
        border-bottom: 1px solid #f39200;
    }
    #certificates h2 {
        padding: 5px 0px;
    }
    .certificate {
        width: 86%;
    }
    #PHP, #WD {
        display: block;
        float: none;
        padding: 0;
        width: 96%;
        margin: 0 2%;
    }
    #PHP{
        margin-bottom: 50px;
    }
    .certificate,
    .certificate:nth-of-type(4n) {
        float: none;
        margin: 0 auto 40px;
        padding: 35px 15px 15px;
    }
    .certificate:nth-of-type(2n) {
    margin-right: auto;
    }
    #skills h2, #projects h2, #services h2 {
        margin-bottom: 30px;
    }
    .tooltip,
    .tooltip:nth-of-type(4n+1) {
        display: none;
    }
    #projects a.project {
        padding: 5px;
        text-align: center;
    }
    .carousel-button.prev {
        left: 0.5rem;
    }
    .carousel-button.next {
        right: 0.5rem;
    }
    ul.skills {
        display: none;
    }
    #services .services,
    #services .services:nth-of-type(4) {
        width: 95%;
        padding: 2.5%;
        margin: 0 0 40px 0;
    }
    #icons {
        overflow: hidden;
    }
    #icons p {
        padding: 50px 0;
    }
}
@media screen and (max-width: 353px) {
    #headerTopLeft,
    #headerCenter,
    #headerTopRight {
        width: 100%;
    }
    #headerTopLeft{
        text-align: left;
    }
    #headerTopRight{
        text-align: right;
    }
}
@media screen and (min-width: 281px) and (max-width: 408px) {
    i.contact_icon.fab.fa-linkedin {
        margin-left: 50px;
    }
    i.contact_icon.fab.fa-github {
        margin-right: 50px;
    }
}
@media screen and (min-width: 261px) and (max-width: 408px) {
    .icon_box {
        margin: 0;
        width: 50%;
        padding: 0 0 50px;
        float: left;
    }
    i.contact_icon.fab.fa-linkedin {
        float: left;
    }
    i.contact_icon.fab.fa-github {
        float: right;
    }
}
@media screen and (min-width: 267px) and (max-width: 317px) {
    h1 {
        font-size: 2.5em;
    }
}
@media screen and (min-width: 267px) and (max-width: 319px) {
    .skill {
        width: 105px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 209px) and (max-width: 319px) {
    .form-control i {
        left: 6px;
    }
}
@media screen and (max-width: 319px) {
    #projects a.project:nth-of-type(3n),
    #projects a.project:nth-of-type(5n) {
        margin-right: auto;
    }
    #projects a.project {
        float: none;
        width: 80%;
        margin: 0 auto 30px;
    }
}
@media screen and (min-width: 261px) and (max-width: 280px) {
    i.contact_icon.fab.fa-linkedin {
        margin-left: 40px;
    }
    i.contact_icon.fab.fa-github {
        margin-right: 40px;
    }
}
@media screen and (min-width: 209px) and  (max-width: 266px) {
    h1 {
        font-size: 2em;
    }
}
@media screen and (max-width: 266px) {
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: 1.3em;
    }
    .skill {
        width: 80%;
        margin-right: auto;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 260px) {
    .icon_box {
        margin: 0;
        width: 100%;
        padding: 0 0 50px;
        float: none;
    }
    i.contact_icon.fab.fa-linkedin,
    i.contact_icon.fab.fa-github {
        float: none;
        margin: 0 auto;
        width: 60px;
    }
}
@media screen and (max-width: 209px){
    .form-control i {
        left: 5px;
    }
    .form-control.InputIconBg i {
        padding: 15px;
    }
    .form-control i.fas.fa-pencil-alt {
        padding: 98.5px 15px;
    }
    .form .form-control label.valid {
        margin-left: -8%;
    }
    label#floated_textarea {
        left: 4rem;
    }
    textarea:focus~label#floated_textarea,
    textarea:not(:placeholder-shown)~label#floated_textarea {
      left: 3.5rem;
    }
}
@media screen and (min-width: 109px) and (max-width: 208px){
    h1 {
        font-size: 1.5em;
    }
    #nav h2 {
        padding-left: 5px;
        font-size: 1.4em;
    }
}
@media screen and (max-width: 108px){
    h1 {
        font-size: 1em;
    }
    #nav h2 {
        padding-left: 0;
        font-size: 1.3em;
    }
    #services .services, #services .services:nth-of-type(4) {
        width: 90%;
        padding: 5%;
    }
}