@charset "UTF-8";
/* CSS Document */
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #363636;
  font-weight: 300;
  background: #f2f2f2;
  /* firefox scrollbar */
  scrollbar-width: thin;         
  scrollbar-color: #955D00;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  margin: 1em 0 0.5em;
  color: #696969;
  word-break: break-word;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 30px 0;
}
h3 {
  font-size: 2em;
}
h3#response {
  font-size: 1.6em;
  height: 50px;
  margin: 1em 1.9em 1em 0.7em;
  color: #a2d838;
  text-align: center;
}
h4 {
  font-size: 1.6em;
  height: 50px;
  margin: 1em 1.9em 1em 0.7em;
  text-align: center;
}
h5 {
  font-size: 1.4em;
}
h6 {
  font-size: 1.2em;
}
p {
  margin: 0.4em 0 0.5em;
}
img {
  vertical-align: bottom;
  max-width: 100%; /*gives the desired display result (final)*/
}
a:link,
a:visited {
  text-decoration: none;
  color: #955D00;
}
a:hover {
  color: #714600;
}
a:active {
  color: #696969;
}
.white {
  color: #fff;
}
.white h1,
.white h2,
.white h3,
.white h4,
.white h5,
.white h6 {
  color: #fff;
}
.button:link,
.button:visited {
  border: 1px solid #955D00;
  border-radius: 5px;
  color: #955D00;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  padding: 17px 30px 15px;
  margin: 20px 0;
  text-transform: uppercase;
  transition: 800ms all ease;
}
.button:hover {
  background: #955D00;
  color: #fff;
}
.button:active {
  background: #714600;
}
.white .button {
  border: 1px solid #fff;
  color: #fff;
}
.white .button:hover {
  background: #fff;
  color: #955D00;
  text-decoration: none;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.wrapper::after,
.cf::after {
  display: table;
  content: '';
  clear: both;
}
#headerTop,
#headerTop i {
  background: #363636;
  color: #fff;
  font-size: 12px;
}
#headerTop {
  border-bottom: 4px solid #ececec;
}
#headerTopLeft {
  float: left;
  padding: 19px 0;
}
#headerTopLeft span {
  margin-right: 40px;
  padding: 19px 0;
}
#headerTopLeft span a {
  color: #fff;
}
#headerCenter {
  text-align: center;
  padding: 19px 0;
  width: 79%;
  display: inline-block;
}
#headerTopLeft span:nth-of-type(3n),
#headerTopRight span:nth-of-type(2n) {
  margin-right: 0;
}
#headerTopRight {
  float: right;
  color: #fff;
}
#headerTopRight i {
  font-size: 32px;
  padding: 10px;
}
#headerCenter a {
  padding: 19px 10px;
}
#headerCenter a:link,
#headerCenter a:visited,
#headerTopRight a:link i,
#headerTopRight a:visited i {
  color: #fff;
}
#headerCenter a:hover,
#headerTopRight a:hover i {
  color: #363636;
  background: #fff;
}
#headerBottom {
  background: #FFF;
}

#nav {
  float: right;
  width: 100%;
}
#respmenu,
.print {
  display: none;
}
#nav.open {
  position: fixed;
  top: -20px;
  width: 1200px;
  margin: 20px auto;
}
#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav ul.menu {
  float: right;
}
#nav ul li {
  float: left;
}
#nav ul li a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 35px 20px 25px;
  transition: 1s all ease;
}
#nav ul li a:link,
#nav ul li a:visited {
  text-decoration: none;
  color: #0648a0;
  border-bottom: 4px solid #fff;
}
#nav ul li a:hover {
  background: #faf7eb;
  color: #955D00;
  border-bottom: 4px solid #955D00;
}
#nav ul li a:active {
  background: #eee;
  border-bottom: 4px solid #ccc;
}
/* Hero img */
#hero.lazy {
  background-image: none;
  background-color: #F1F1FA;
}
#hero {
  background: url('../images/development.webp');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  text-align: center;
}

#aboutme h2 {
  width: 70%;
  margin-top: 46px;
  margin-bottom: 12px;
  padding: 5px 0;
  background: #0648a0;
  color: #FFF;
  border-radius: 5px;
  display: inline-block;
  margin: 46px auto 12px;
}
#about {
  background-image: url('../images/developmentMirnes.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}
#aboutme {
    background: #FFF;
}
.imgLeft {
  float: left;
  padding: 46px 50px 50px 0;
}
#quotes {
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  width: 350px;
  float: right;
}
/* certifications */
#LinkedIn {
  background: #FFF;
  padding: 50px 0 0;
  text-align: center;
  margin-bottom: 40px;
}
#certificates {
  background: #FFF;
  text-align: center;
  padding-top: 50px;
}
#certificates h2 {
  display: inline;
  padding: 0px 92px 5px;
  background: #0648a0;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 5px;
}
#PHP {
  display: inline;
  float: left;
  margin-right: 20px;
  border: 2px solid #CCC;
  box-sizing: border-box;
}
#WD {
  display: inline;
  float: right;
  margin-left: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
}
#mycert {
  text-align: left;
}
.certificate {
  width: 200px;
  padding: 35px 33px 15px;
  margin: 0 40px 40px 0;
  background: #fafafa;
  display: inline-block;
  position: relative;
  border: 2px solid #ccc;
}
.certificate:nth-of-type(4n) {
  margin-right: 0;
}
.certificate span {
  background: #ccc;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -30px;
}
.certificate p.intro {
  text-align: left;
}
.offers li {
  list-style: none;
}
/* skills */
#skills {
  background: #FFF;
  padding-top: 30px;
  text-align: center;
}
.tooltip {
  position: relative;
  display: inline;
}
.tooltip:nth-of-type(4n+1) {
  display: block;
  top: 316px;
}
#skills h2, #projects h2,
#services h2{
  padding: 5px 0;
  background: #0648a0;
  color: #FFF;
  margin-bottom: 40px;
  border-radius: 5px;
}
.skill {
  width: 240px;
  margin-right: 80px;
  margin-bottom: 76px;
}
.skill:nth-of-type(4n) {
  margin-right: 0;
}
/* tooltip for skills */
.help_tip{
  position: absolute;
  left: 210px;
  bottom: 325px;
  text-align: center;
  background-color: #BCDBEA;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}
.help_tip:before{
  content:'?';
  font-weight: bold;
  color:#fff;
}
.help_tip:hover {
  background-color: #1E2021;
}
.help_tip:hover p{
  display:block;
  transform-origin: 100% 0%;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
.help_tip p{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1E2021;
  width: 170px;
  padding: 35px;
  height: 172px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -6px;
  color: #FFF;
  font-size: 16px;
  line-height: 1.4;
}

.help_tip p:before{ /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#1E2021;
  right:10px;
  top:-12px;
}

.help_tip p:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% { 
      opacity:0; 
      transform: scale(0.6);
  }

  100% {
      opacity:100%;
      transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}
/* Projects */
#projects {
  background: #FFF;
  overflow: hidden;
  margin-top: 40px;
  padding-top: 30px;
}
#projects a.project {
  display: block;
  background: #955D00;
  color: #FFF;
  padding: 5px 35px;
  margin: 0 80px 40px 0;
  border-radius: 5px;
  float: left;
  text-align: center;
  width: 170px;
  height: 40px;
  line-height: 40px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  pointer-events: all;
}
#projects a.project:nth-of-type(5n) {
  margin-right: 0;
}
#projects a.project:link,
#projects a.project:visited {
  background: #714600;
}
#projects a.project:hover{
  background: #714600;
}
#projects a.project:active{
  background: #462C00;
}
.target {
  display: none;
}
/* section project for mockup sites */
section.project_complete {
  border-top: 4px solid #ececec;
  clear: both;
  display: -webkit-box;
  padding-top: 50px;
}
section.project_complete:first-of-type {
  border-top: none;
  padding-top: 0;
  padding-bottom: 35px;
}
section.project_complete:last-of-type {
  padding-bottom: 15px;
}
/* projects mockup & desc */
.project_mockup,
.project_desc{
  width: 50%;
}
.project_mockup{
  position: relative;
  display: block;
}
.project_mockup .slides {
 display: block;
  width: 600px;
  height: 364px;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.project_mockup .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide > img{
  display: block;
  width: 600px;
  height: 391px;
}
.slide[data-active]{
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}
/* arrows */
.carousel-button{
  cursor: pointer;
  font-size: 1.3rem;
  top: 35%;
  border: none;
  border-radius: .25rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, .1);
}
.carousel-button:hover,
.carousel-button:focus{
  color: #FFF;
  background-color: rgba(0, 0, 0, .2);
}
.carousel-button:focus{
  outline: 1px solid #000;
}
.carousel-button:active{
  background-color: rgba(0, 0, 0, .3);
}
.carousel-button.prev {
  float: left;
  position: relative;
  left: 1rem;
  z-index: 2;
}
.carousel-button.next {
  float: right;
    position: relative;
    right: 1rem;
    z-index: 2;
}
ul.skills {
  display: block;
  width: 555px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
ul.simple{
  width: 380px;
}
ul.skills li {
  display: block;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background: #D69A35;
  color: #FFF;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}
ul.skills li.project_title {
  width: 535px;
  margin-right: 0;
  background: #B47814;
}
ul.skills li:nth-of-type(7),
ul.skills li:nth-of-type(13){
  margin-right: 0;
}
ul.skills li.project_simple {
  width: 345px;
  margin-right: 0;
  background: #B47814;
}
.project_desc{
  float: left;
}
article.project_desc h3 {
  text-align: center;
  color: #B47814;
}
article.project_desc p {
  margin-left: 50px;
}
a.button.view_project {
  margin: 46px auto;
  display: block;
  width: 106px;
  float: left;
}
/* future project (change this soon with new projects) */
p.future{
  text-align: center;
  margin: 0 auto 30px;
  color: #B47814;
}
/* services */
#services{
  padding-top: 30px;
  text-align: center;
  letter-spacing: -.31em;
}
#services h2{
  letter-spacing: normal;
}
#services h3#service{
  text-align: center;
  color:  #955D00;
  margin-bottom: 40px;
  letter-spacing: normal;
}
#services .services{
  width: 196px;
  padding: 35px 35px 15px;
  margin: 0 40px 40px 0;
  background: #faf7eb;
  border: 2px solid #D5CFB9;
  display: inline-block;
  letter-spacing: 0;
  text-align: left;
}
#services .services:nth-of-type(4) {
  margin: 0;
}
#services .services h4{
  color:#B47814;
  margin: 1em 0.3em 1em 0.3em;
}
img.usluge{
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
/* services & contact */
#services,
#contact {
  background: #FFF;
  margin-top: 40px;
}
p#contact_offer {
  text-align: center;
  /* padding-bottom: 30px; */
}
#contact h2 {
  width: 96%;
  margin: 30px auto;
  padding: 5px 0;
  background: #0648a0;
  color: #FFF;
  margin-right: 4%;
  border-radius: 5px;
}
/* form CSS */
#form {
  width: 800px;
  display: inline-block;
}
.form .form-control {
  position: relative;
  height: auto;
}
form > .form-control {
  width: 96%;
  margin-bottom: 2%;
}
form > .form-control > input,
form > .form-control > textarea {
  width: 96%;
  margin: 0 2%;
  display: block;
  opacity: 0.9;
  font-weight: 400;
  font-family: inherit;
  font-size: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fbfbfb;
  border: 2px solid #aaa !important;
  margin-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  resize: none;
  outline: none;
  color: #aaa;
  transition: 0.3s;
}
form .form-control input {
  padding: 13px 15px 13px 70px;
  line-height: 20px;
  box-sizing: border-box;
}

.form .form-control label.valid {
    display: inline-block;
    margin-left: 2%;
    position: absolute;
}

form .form-control textarea {
  padding: 15px 15px 10px 70px;
  box-sizing: border-box;
}
.form-control i {
  position: absolute;
  left: 17px;
  top: 2px;
  font-size: 20px;
  color: #aaa;
  padding: 9px 8px;
  transition: 0.3s;
}
.form-control i.fas.fa-pencil-alt {
  padding: 98.5px 22px;
}
.form .form-control input:focus,
.form .form-control textarea:focus {
  border: 2px solid #0b60d4 !important;
  box-shadow: 0 0 8px 0 #0b60d4;
  outline: none !important;
  color: #0b60d4;
}
.form-control.InputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 15px 23px;
}
.form-control input:focus ~ i,
.form-control textarea:focus ~ i{
  color: #0b60d4;
}
.form-control.InputIconBg input:focus ~ i,
.form-control.InputIconBg textarea:focus ~ i {
  background-color: #0b60d4;
  color: #fff;
}
input::placeholder{
  opacity: 0;
}
label.valid {
  display: block;
  border: none;
  top: 1rem;
  left: 5rem;
}
label#floated_textarea {
  display: block;
  color: #999;
  transition: all 0.2s ease-out;
  position: absolute;
  top: 1rem;
  left: 6rem;
}
@supports (not (-ms-ime-align:auto)) {
  label.valid {
    color: #999;
    transition: all 0.2s ease-out;
    top: 1rem;
    left: 5rem;
  }
  
  input:focus ~ label.valid,
  input:not(:placeholder-shown) ~ label.valid,
  textarea:focus ~ label#floated_textarea,
  textarea:not(:placeholder-shown) ~ label.valid {
    font-size: 12px;
    font-weight: bold;
    color: #0b60d4;
    text-transform: uppercase;
  }

  input:focus~label.valid,
  input:not(:placeholder-shown) ~ label.valid {
    top: 0.3rem;
    left: 4.5rem;
  }
  textarea:focus~label#floated_textarea,
  textarea:not(:placeholder-shown)~label#floated_textarea {
    top: 0.3rem;
    left: 5.5rem;
    color: #0b60d4;
    transition: all 0.2s ease-out;
  }
}
label.error {
  transform: translate(5.7rem, 0.6rem);
  color: #e74c3c;
  pointer-events: none;
}
.form .btn_submit {
  background: #0b60d4;
  border: 2px solid #0b60d4;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 92%;
  margin: 2%;
  cursor: pointer;
  border: none !important;
  outline: none;
  opacity: 0.9;
  display: block;
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
}
.form .btn_submit:hover {
  background: #043981;
  border: 2px solid #043981;
}
.form .btn_submit:active {
  background: #032b62;
  border: 2px solid #032b62;
}
.error,
.errorJS {
  color: #e74c3c;
  font-weight: 700;
}
.error {
  margin-left: 2%;
  display: inline;
}
#icons {
  background: #032B62;
  width: 400px;
  float: right;
  margin: 30px 0 0;
  height: 674px;
  border-radius: 5px;
}
#icons p {
  color: #FFF;
  text-align: center;
  padding: 100px 0 50px;
}
.icon_box {
  display: block;
  text-align: center;
  margin-top: 50px;
}
i.contact_icon {
  font-size: 65px;
  color: #FFF;
}
i.contact_icon:hover {
  color: #04102d;
  background: #FFF;
  padding: 0 5px;
}
/* Button Scroll To Top */
.scroll-top i {
  color: #ffffff;
  font-size: 22px;
  line-height: 40px;
  cursor: pointer;
}
.scroll-top {
  box-shadow: 0 0 2px rgb(0 0 0 / 40%);
  bottom: 15px;
  display: none;
  height: 40px;
  width: 40px;
  opacity: 1;
  position: fixed;
  border-radius: 50%;
  right: 20px;
  text-align: center;
  z-index: 9999;
  background: #955D00;
}
.scroll-top:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: #955D00;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  animation: sonarWave2 3s linear infinite;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.scroll-top:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: #955D00;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  animation: sonarWave 2s linear infinite;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Animate!
 * NOTE: add browser prefixes where needed.
 */
  @keyframes sonarWave {
    from {
      opacity: 0.4;
    }
    to {
      transform: scale(3);
      opacity: 0;
    }
  }
  
  @keyframes sonarWave2 {
    from {
      opacity: 0.6;
    }
    to {
      transform: scale(5);
      opacity: 0;
    }
  }
  .scroll-top i {
    font-size: 22px;
    line-height: 40px;
  }
#footer {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  padding: 10px;
  background: #333;
  clear: both;
}
#footer p {
  margin: 0;
}
#footer p a:link,
a:visited {
  text-decoration: underline;
  color: #fff;
}
#footer p a:hover {
  color: rgb(646664);
}
#footer p a:active {
  color: #696969;
}
.footer_comma {
  display: none;
}
/* cert pages */
body.development {
  background: #FFF;
}
body.development h1{
    font-size: 2em;
    text-align: center;
    background: #0648a0;
    color: #FFF;
    width: 100%;
    margin: 15px auto 0;
    padding: 5px 0;
  }
.development #headerBottom {
  border-bottom: 4px solid #ececec;
}
  /* lightslider */
.lightSlider.lsGrab>* {
  cursor: pointer;
}
.slider-container {
	display: block;
	position:relative;
	width: 100%;
	overflow:hidden;
}

section.slider-container li.item-a.slide {
  list-style: none;
}
section.slider-container .lSAction>a{
  background-image: none;
}
.slideControls{
  position: absolute;
    width: 100%;
    top: 47px;
  left:0;
}

  i{
    font-size:30px;
  }
  .arrow {
    top: 50px;
    position:absolute;
    cursor:pointer;
    z-index: 1;
    color: #9b8027;
  }
  .arrow:link,
  .arrow:visited{
    color: #9b8027;
  }
  .arrow:hover{
    color: #72590A;
  }
  .arrow:active{
    color: #483700;
  }
  .slideNext{
    right:1%;
  }
  .slidePrev{
    left: 1%;
  }
  /* cert images */
  .LinkedIn {
    width: 288px;
    float: left;
    margin: 15px 15px 0 0;
  }
.SoloLearn {
    float: left;
    margin: 22px 0 0 4px;
    width: 281px;
}
.Pluralsight {
  width: 280px!important;
  margin: 20px 0 0 4px
}
img.LinkedIn.margin-top{
  margin-top: 22px;
}
.progressive img {
  cursor: pointer;
}
/* CSS for Web Design cert */
body.development.design img.LinkedIn.margin-top {
  margin-top: 15px;
}
/* CSS for SEO cert */
body.development.seo footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
/* Scrollbar */
/* Works on Firefox */
*{
  scrollbar-width: thin;
  scrollbar-color: #955D00 #eee;
}
/* Works on Chrome, Edge, and Safari */
html::-webkit-scrollbar{
  width: 1vw;
}
html::-webkit-scrollbar-thumb{
  background: #D69A3520;
  border: 3px solid #955D0020;
}
html::-webkit-scrollbar-thumb:hover{
  background: #D69A3550;
  border: 3px solid #955D0050
}
html::-webkit-scrollbar-track {
  background-color: #eee5;
  box-shadow: #955D00 0px 0px 2px inset;
  border-radius: 0.5em;

}
html::-webkit-scrollbar-track:hover {
  background-color: #eee;
}
/*
img#barcode,*/
p.barcode {
  display: none;
}
/* CSS for print */
@media print {
  @page{
    margin: .5cm;
  }
  body {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
    background: #FFF;
  }
  .wrapper{
    margin: 0;
    padding: 0;
  }
  #headerTop {
    margin-bottom: 20px;
  }
  h1, h2, h3, h4{
    color: #000;
  }
  a, a:visited{
    color: inherit;
    text-decoration: none;
  }
  a[href^="https:"]::after, a:visited::after{
    content:' (' attr(href) ')';
    font-style: italic;
    word-wrap: break-word;
  }
  #headerCenter,
  #headerTopRight,
  #nav,
  img.skill,
  #hero,
  #about,
  #quotes,
  .certificate,
  #PHP, #WD,
  #skills,
  .tooltip,
  #projects,
  #contact_me,
  #icons p,
  .no_print{
    display: none;
  }
  #headerTop, #headerTop i,
  #headerTopLeft span a,
  article#hero div.wrapper h1.white,
  #aboutme h2,
  #certificates h2,
  #skills h2,
  #services h2,
  #services .services,
  #services .services h4,
  section#contact h2,
  #form h2,
  #footer,
  section#contact p#contact_offer,
  #icons,
  i.contact_icon{
    background: #FFF;
    color: #000;
  }
  span#number a,
  #services .services h4{
    font-size: 1.2em;
  }
  #services .services {
    padding: 35px 30px 15px;
    margin: 0 25px 25px 0;
    width: 194px;
  }
  #services .services:nth-of-type(4){
    margin-right: 0;
  }
  #headerTopLeft,
  article#hero div.wrapper h1.white,
  #certificates h2,
  #contact, #icons{
    width: 100%;
    display:block;
    text-align: center;
    margin: 0 auto;
    background: #FFF;
    color: #000;
  }
  #services h3#service{
    color: #000;
  }
  #aboutme h2{
    display: inline;
    padding-left: 140px;
  }
  #contact, #icons{
    height: 300px;
  }
  footer#footer{
    border-top: 10px solid #CCC;
    position: relative;
    max-height: 200px;
    padding: 20px 0 0 170px;
  }
  
  footer::after{ content:url(../images/qr-code.png); position: absolute; top:20; left:0; }
  footer p { padding-left: 20px;}
  p.barcode{ 
    display: block;
    margin:  65px auto 0 220px ;
    float: left;
  }
}

/* MEDIA QUERIES */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    #hero {
        background-image: url("../images/development_@2x.webp");
        background-attachment:inherit;
    }
    #about {
        background-image: url("../images/developmentMirnes_@2x.jpg");
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  #hero {
      background-image: url("../images/development_@3x.webp");
      background-attachment:inherit;
  }
  #about {
      background-image: url("../images/developmentMirnes_@3x.jpg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  #hero {
      background-image: url("../images/development_@4x.webp");
      background-attachment:inherit;
  }
  #about {
      background-image: url("../images/developmentMirnes_@4x.jpg");
  }
}
