cert/
core/
images/
JS/jquery*.min.js
JS/lightslider.min.js
JS/picturefill.min.js
JS/lazyloading.min.js
lightbox2/
lightslider/
PHPMailer/
*.jpg
*.webp
*.png
*.svg
*.json
*.xml
*.ico
*.zip
*.webmanifest
form*.php