cert/
classes/Con*.php
core/
DB-TABLES
illustrations/
images/
JS/jquery*.min.js
JS/lightslider.min.js
JS/picturefill.min.js
JS/lazyloading.min.js
lightbox2/
lightslider/
logos/
photoshops/
PHPMailer/
projects/
services/
websites/
*.jpg
*.webp
*.png
*.svg
*.json
*.xml
*.ico
*.webmanifest
form_process.php